// sidebar
$menuText:#fff;
$menuActiveText:#409EFF;
$subMenuActiveText:#fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#243A80;
$menuHover:rgba(100, 156, 238, 0.6);

$subMenuBg:#1f2d3d;
$subMenuHover:rgba(100, 156, 238, 0.6);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
